# Файлы ключей и подписей, генерируемые в процессе работы программы
*.key
*.sig

# Кэш среды исполнения Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки сред разработки (IDLE, PyCharm, VS Code)
.python-version
.vscode/
.idea/

# Временные файлы операционной системы
.DS_Store
Thumbs.db
